# Исключаем директории и файлы, которые не должны попадать в Docker-образ

# .git директория (не нужна в Docker-образе)
.git

# Все временные и кэшированные файлы Python
__pycache__
*.pyc
*.pyo

# Лог-файлы
*.log

# Папки и файлы, связанные с тестированием
*.pytest_cache
*.tox
*.coverage

# Среда разработки (например, Visual Studio Code)
.vscode/

# Папки node_modules из frontend проекта (если они существуют)
frontend/node_modules/

# Конфигурационные файлы окружений
.env

# Папка для сборки frontend
frontend/build/

# Другие временные файлы, которые не должны попадать в Docker-образ
*.DS_Store
