# Игнорируем Python-артефакты
*.pyc
__pycache__/
*.pyo
*.pyd

# Игнорируем Node.js артефакты (если они есть)
node_modules/

# Логи
*.log

# Виртуальные окружения
.venv/
env/

.env
backend/.env
frontend/.env

venv/

# Конфигурации IDE
.vscode/
.idea/

# Кэшированные файлы
.cache/

# Файлы, связанные с тестами
.coverage
*.coveragerc
