# Игнорируем временные и скомпилированные файлы Python
*.pyc
*.pyo
__pycache__/

# Игнорируем папки с виртуальными окружениями
.venv/

# Игнорируем логи
*.log

# Игнорируем конфигурации IDE
.vscode/
.idea/
